@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: $color-dark;
  font-size: 0.875rem;
  background-color: $color-light;
}

// Scrollbar blue theme
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mt-6 {
  margin-top: 6rem;
}

.rounded-lg {
  border-radius: 1rem;
}

.card {
  border-radius: 0.5rem;
}