.hero .carousel .carousel-inner .carousel-item{
  height: 100vh;
  background-color: #000;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
  }

  .hero-caption {
    bottom: 1.25rem;
    top: 30%;
    text-align: justify;
    color: $color-light;

    .container .hero-jumlah {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
      color: $color-dark;

      .hero-swiper .card {
        cursor: pointer;
      }
    }
  }
}

.news {
  margin-top: -3rem;
  z-index: 100;
}