.hero .carousel .carousel-inner .carousel-item{
  height: 100vh;
  background-color: #000;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
  }

  .hero-caption {
    bottom: 2.25rem;
    top: 30%;
    text-align: start;
    color: $color-light;

    .container .hero-jumlah {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
      color: $color-dark;

      @media (min-width: 768px) {
        margin-bottom: 1rem;
      }

      .hero-swiper .card {
        cursor: pointer;
      }
    }
  }
}

// News
.news {
  margin-top: 1.5rem;
  z-index: 100;

  @media screen and (min-width: 900px) {
    margin-top: -3rem;
  }
}

.img-news {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Layanan
.card-layanan {
  border-radius: 0.5rem;
  background-color: $color-light;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;

  &:hover {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  }
}

// Footer
.footer-wrapper {
  background-color: #031121;
  color: $color-light;
  padding: 2rem 0;
}

footer {
  .divider-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
}