.navbar {
  position: absolute;
  animation: navbar-up 0.5s ease;

  &.navbar-show {
    background-color: $color-light;
    position: fixed;
    animation: navbar-down 0.5s ease;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;

  span {
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 0.5rem;
  }
}

.navbar-toggler {
  border: none;

  &:focus {
    border: none;
    box-shadow: none;
  }
}

@keyframes navbar-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes navbar-up {
  0% {
    position: fixed;
    background-color: $color-light;
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
    position: absolute;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    img {
      width: 40px;
      height: 40px;
    }

    span {
      font-size: 1rem;
    }
  }
}