.navbar {
  position: absolute;
  animation: navbar-up 0.5s ease;
  background-color: $color-light;

  .container .navbar-collapse {

    .navbar-nav .nav-item .nav-link {
      // background-color: red;
      font-weight: 600;
      color: rgb(192, 192, 192);

      &.active {
        color: $color-primary !important;
      }
    }
  }

  &.navbar-show {
    background-color: $color-light;
    position: fixed;
    animation: navbar-down 0.5s ease;

    .container .navbar-collapse .navbar-nav .nav-item .nav-link {
      color: rgb(179, 179, 179);

      &.active {
        color: $color-primary !important;
        background-color: $color-light-primary;
        border-radius: 0.5rem;
      }
    }
  }
}

.navbar-nav .nav-item {
  &:hover {
    .dropdown-menu {
      transition: 0.3s;
      opacity: 1;
      visibility: visible;
      top: 100%;
      transform: rotateX(0deg);
    }
  }

  .nav-link {
    font-weight: 600;
    color: #9fa2b5;
    padding: 0.5rem 1rem;

    &:hover {
      color: $color-primary !important;
    }

    &:focus {
      color: $color-primary !important;
    }
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: black;

  span {
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 0.5rem;
  }
}

.navbar-toggler {
  border: none;
  color: #9fa2b5;

  &:focus {
    border: none;
    box-shadow: none;
  }
}

@keyframes navbar-down {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes navbar-up {
  0% {
    position: fixed;
    background-color: $color-light;
    transform: translateY(0);
  }

  50% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
    position: absolute;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    img {
      width: 40px;
      height: 40px;
    }

    span {
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 900px) {
  .navbar:not(.navbar-show) {
    background-color: transparent;
  }

  .navbar-brand {
    color: $color-light;
  }

  .dropdown-menu {
    background-color: $color-light;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 0.5rem 0.5rem;
  
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  
    &.fade-up {
      top: 180%;
    }
  
    .dropdown-item {
      color: $color-dark;
      font-size: 0.9rem;
      padding: 0.5rem 1rem;
      margin: 0.2rem 0;
      border-radius: 0.5rem;
  
      &:hover:not(.active) {
        background-color: $color-light-primary;
        color: $color-primary;
      }
  
      &.active {
        background-color: $color-light-primary;
        color: $color-primary;
      }
    }
  }
}
